/* .car-list{
    background-color: red;
    margin-top: 10px;
    display: flex;    
    flex-direction: column;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.bold{
    font-weight: bold;
}